/* DITJES EN DATJES 
        /*lettertype en lettergrote */
body, html
{
    font-size: 90%;
}
p, h1, h2, h3, h4
{
    font-family: verdana, sans-serif;
    color: #4a7180;
    margin: 1px 3px 10px 3px;
    padding:1px;
}
h2
{
    color: #4a7184;
    text-transform: uppercase;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 100%;
    margin: 15px 15px 10px 3px;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #ccd5d3;
}
h3
{
    color: #9d8a0a;
    font-size: 100%;
    margin: 12px 3px 1px 3px;
}
li
{
    font-family: verdana, sans-serif;
    color: #4a7180;
}

/*tabellen*/
table
{
    background:#ddd;
    border-collapse:collapse;
}
th,td
{
    border: 2px solid white;
    font-family: verdana, sans-serif;
    color: #4a7180;
    text-align:left;
}
table.layout
{
    background:transparent;
    width:98%;
}
table.layout th,table.layout td
{
    background: transparent;
    border: none;
}
div#contentadmin th,div#contentadmin td
{
    border-color: #e9e9e9;
}

/*formulieren*/
input, textarea
{
    font-family: verdana, sans-serif;
    color: #4a7180;
    background:#fafafa;
    border:1px solid #8592bb;
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px #ddd;
    padding:3px;
    margin:2px;
}
input:focus,textarea:focus,select:focus
{
    background:#efefef;
}
fieldset
{
    border: none;
    border-bottom: 2px solid #8592bb;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
}
fieldset:last-of-type
{
    border-bottom: none;
}
legend
{
    font-family:verdana,sans-serif;
    font-weight:bold;
}
.button,button/*ook geschikt voor links*/
{
    background:#ddd; 
    border:0;
    color:#444444;
    border-radius: 4px;
    box-shadow: none;
    text-decoration:none;
    color:black;
    padding:3px;
    border:0;
    cursor:pointer;
    font-size:100%;
}
.button:hover, button:hover
{
    background:#f2f2f2; 
    border:0;
}
.button:focus,button:focus
{
    background:#eee; /*geen andere achtergrond */
}
.primary_button
{
    background: #990000;
    color: white;
}
.primary_button:hover
{
    background: #bb0000;
    color: white;
}
.checkbox
{
    background:transparent;
    border:0;
    box-shadow:none;
}
.full_width
{
    width: 98%;
}


/*links*/
a
{
    color:#990000;
    text-decoration: none;
}
a.arrow
{
    padding-left:5px;
    background: transparent url(images/arrow.gif) center left no-repeat;
    text-transform: uppercase;
    font-size:85%;
}
a.arrow-disabled
{
    padding-left:5px;
    /*background: transparent url(images/arrow.gif) center left no-repeat;*/
    text-transform: uppercase;
    color:gray;
    font-size:85%;
}
a:link
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
    border-bottom: 1px solid;
}
a:active
{
    text-decoration: underline;
    border-bottom: 1px solid #990000;
}

/* afbeeldingen */
img
{
    margin:3px;
    max-width:100%;
}
a img
{
    border:0;
}


/* Errors */
div.error
{
    font-family: verdana, sans-serif;
    color: #990000;
    margin: 3px;
    border-bottom: 1px dotted #999999;
    border-top: 1px dotted #999999;
    background: #fafbfd;
}

/* Article teasers */
div.article_teaser img
{
    max-width: 140px;
    float: left;	
}
div.article_teaser p.article_teaser_links
{
    clear: both;
}
/* Linklijsten */
ul.linklist
{
    margin:0;
    padding:0;
    list-style-type:none;
}
ul.linklist li
{
    border-bottom: 1px dotted #999999;
    padding:5px;
    font-family: verdana, sans-serif;
}
ul.linklist li img
{
    max-width: 32px;
    max-height: 24px;
    padding: 0;
    margin: 0;
}
ul.linklist li div.linklist_icon_image
{
    display: block;
    float: left;
    min-width: 32px;
    margin: -5px 0 0 0;
    padding: 0;
}

/* Comments */
article.comment {
    position: relative; /* For email field */
    min-height: 7em;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #f3fdf6;
    border: 1px solid #e4f2e9;
}
article.comment p.comment_body {
    padding: 6px;
    margin-left: 0;
}
article.comment header {
    min-height: 40px;
    border-bottom: 1px solid #e4f2e9;
}
article.comment header img {
    float: left;
    margin: 0 3px 0 0;
}
article.comment .comment_title {
    margin: 0;
    padding: 0;
}
article.comment .comment_author_rank {
    font-style: italic;
    font-weight: normal;
}
article.comment .comment_actions {
    float: right;
    font-size: 100%;
}
article.comment .comment_email {
    position: absolute;
    top: 0;
    right: 2px;
}
article.comment .comment_date {
    color: #666;
    font-size: 90%;
}

/* Page sidebars */
div#sidebar_page_sidebar
{
    float:left;
    width:27%;
    padding-right:2px;
}
div#sidebar_page_sidebar img
{
    max-width: 100%;
    margin:1px;
}
div#sidebar_page_content
{	/*gebruikt bij de artikelpagina*/
    float:left;
    border-left: 1px #bbbbbb dotted;
    padding-left: 1%;
    width:69%;
    margin-left:0;
    margin-right:0;
}
div#sidebar_page_content img
{	/*gebruikt bij de artikelenpagina*/
    clear:both;
    margin-bottom:10px;
}
p.meta
{
    color: #bbb;
    font-style: italic;
}
p.intro
{
    color: #666666;
}
p.lijn
{
    border-top: 1px #999999 dotted;
    border-bottom: 1px #999999 dotted;
    padding-top: 5px;
    padding-bottom: 5px;
}
span.required
{
    color: #990000;
    font-size:110%;
}
span.eventdate
{
    color:#990000;
    font-weight:bold;
}
td.highlight:hover
{
    background:#fff;
    cursor:pointer;
}
h3.notable
{
    color:#9d8a0a;
    font-size: 110%;
    font-family: Georgia, "Times New Roman", Times, serif;
}
/* tooltip */
#tooltip
{
    border:solid 1px #0c2577;
    padding:3px;
    position:absolute; 
    z-index:100;
    background:#8592bb;	
    font-family: verdana, sans-serif;
    color:white;
}
#tooltip a
{
    color:white;
}

/* BOXMODEL 
        /* inlogscherm */
#login
{
    background:white;
    width: 50%;
    margin: 100px auto auto auto;
    border: 1px solid #0c2577;
}
/* body en container */
body
{
    background:#dfe3ee;
    height:100%;
}
div#container
{
    margin: 22px auto;
    padding:0;
    width:751px;
    background:white url(images/right.png) top right repeat-y;
}
div#containerwrapper
{ /* nodig voor extra achtergrond */
    background: transparent url(images/blocks.png) bottom right no-repeat;
}

/* header, breadcrumbs en zoekvak */
div#breadcrumbs
{
    background:#dfe3ee;
    padding-bottom:2px;
    overflow:hidden;
    position: relative; /* for div#breadcrumbs #accountlinks */
}
div#breadcrumbs a
{
    color:#336699;
    font-family: verdana, sans-serif;
    font-size:80%;
    padding: 0 0 0 5px;
    background: url(images/arrowsmall.gif) 0em 0.4em no-repeat;
}
div#breadcrumbs a.first
{
    padding: 0;
    background: none;
}
div#breadcrumbs #accountlinks
{
    text-align: right;
    position: absolute;
    right: 0px;
    top: -10px;
}
div#breadcrumbs #accountlinks li
{
    padding: 0 4px;
    margin: 0;
    list-style-type: none;
    float: right;
    border-right: 1px solid #90b7c6;
}
div#breadcrumbs #accountlinks li a
{
    background: none; /* disable those arrows */
    padding: 0;
    margin: 0;
}
div#header
{
    background:#0c2577 url(images/logo.gif) 15px center no-repeat;
    min-height:85px;
}
div#header h1
{
    float:right;
    color:white;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:140%;
    margin:40px 10px 0 0;
    font-weight:normal;
    max-width:327px;
    text-align:right;
    height:1.2em;/*zit menu nooit in de weg, ook niet met grote tekengrootte*/
}
div#header div#search
{
    float:right;
    margin-right:20px;
    margin-top:40px;
}
div#header div#search #searchbox
{
    height:1.4em;
    width:11em;
    margin:0;
    padding:0em;
}

/* content 	*/
div#content
{
    background: white;
    width: 36%;
    clear:left;
    float:left;
    min-height:600px;
    position:relative;
    overflow:hidden;
    padding: 0 2% 0 2%;
}
div#contentwide
{
    background: white url(images/blocks.gif) bottom right no-repeat;
    width: 93%;
    padding: 0 5% 0 2%;
    clear:left;
    float:left;
    min-height:600px;
    position:relative;
    overflow:hidden;
}
div#contentadmin
{
    background: #e9e9e9 url(images/blocks.gif) bottom right no-repeat;
    width: 98%;
    padding: 0 1% 0 1%;
    clear:left;
    float:left;
    min-height:600px;
    position:relative;
}


/* sidebar */
div#sidebar
{
    width:30%;
    float:left;
    background:#f8f9fb;
    height:100%;
}

/* navigatie 
        /* verticale balk rechts */
div#nav
{
    width:30%;
    float:left;
    background:#f8eea9;
}
div#nav ul
{
    margin:0;
    padding:0;
    list-style-type:none;
}
div#nav ul li
{
    border-bottom: 1px dotted #999999;
    padding:5px;
    font-family: verdana, sans-serif;
}

/* horizontale balk */
div#hornav
{
    background: #8592bb;
    height:1.5em;
    padding-left:10px;
}
div#hornav ul
{
    margin:0;
    padding:0;
    list-style-type: none;
    height:100%;
}
div#hornav ul li
{
    float:left;
    background: #8592bb;
    border-style: none dotted none none;
    border-width: 0 1px 0 0;
    border-color: #0c2577;
    height:100%;
    color:white;
}
div#hornav ul li a
{
    color: white;
    text-decoration:none;
    padding: 2px 5px 2px 5px;
    font-family: verdana, sans-serif;
    font-size: 85%;
    display:block;

    height:100%;
}
div#hornav ul li a:hover
{
    background:#dfe3ee;
    color: #0c2577;
}

/* footer */
div#footer
{
    clear:both;
    background: #0c2577 url(images/blue.png) bottom right repeat-y;
    color: white;
    padding:2px 0 0 0;
    min-height:24px;
    text-align: right;
    font-size: 125%;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding-right:35px;
}
