
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac filesystem dust
.DS_Store

# Netbeans
/nbproject/

# Composer
/vendor/

# Eclipse
/.project
/.buildpath
/.settings/

#PHPStorm
/.idea/

# Config file
/config.php

# Build file
/build
