/* HTML5 FIXES FOR IE8 */
header, article, footer {
    display: block;
}

/* DITJES EN DATJES 
        /*lettertype en lettergrote */
body, html
{
    font-size: 90%;
}
p, h1, h2, h3, h4
{
    font-family: verdana, sans-serif;
    color: #595959;
    margin: 1px 3px 10px 3px;
    padding:1px;
}
h2
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:150%;
    margin: 3px 3px 10px 3px;
}
h3
{
    font-size: 100%;
    margin: 12px 3px 1px 3px;
}
li
{
    font-family: verdana, sans-serif;
    color: #595959;
}

/*tabellen*/
table
{
    border-collapse:collapse;
}
th,td
{
    border: 2px solid white;
    background: #d6d6c3;
    font-family: verdana, sans-serif;
    text-align:left;
}
th
{
    color: white;
    background:#9a9a79;
}
table.layout
{
    background:transparent;
    width:98%;
}
table.layout th,table.layout td
{
    background: transparent;
    border: none;
    padding:5px;
}
div#contentadmin th,div#contentadmin td
{
    border-color: #e9e9e9;
}

/*formulieren*/
input, textarea
{
    font-family: verdana, sans-serif;
    color: #4a7180;
    background:#fafafa;
    border:1px solid #9a9a79;
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px #ddd;
    padding:3px;
    margin:2px;
}
input:focus,textarea:focus,select:focus
{
    background:#efefef;
}
fieldset
{
    border: none;
    border-bottom: 2px solid #9a9a79;
    margin-top: 10px;
    margin-bottom: 10px;
}
fieldset:last-of-type
{
    border-bottom: none;
}
legend
{
    font-family: verdana,sans-serif;
    font-weight:bold;
}
.button,button /*ook geschikt voor links*/
{
    background: #ccc; 
    border:0;
    padding: 5px;
    margin: 3px;
    border-radius: 4px;
    box-shadow: none;
    text-decoration:none;
    color:black;
    border:0;
    cursor:pointer;
    font-size:100%;
    display: inline-block;
    min-width: 5em;
    text-align: center;
}
.button:hover, button:hover
{
    background: #ddd; 
    border:0;
}
.button:focus,button:focus
{
    background: #ddd; /*geen andere achtergrond */
}
.primary_button
{
    background: #9a9a79;
    color: white;
}
.primary_button:hover
{
    background: #b4b488;
}
.checkbox
{
    background:white;
    padding:0;
    border:0;
    border-radius:0;
    box-shadow:none;
}
.full_width
{
    width: 98%;
}

/*links*/
a
{
    color:#6b966b;
    text-decoration: none;
}
a.arrow
{
    padding-left:5px;
    background: transparent url(images/arrow.gif) center left no-repeat;
    text-transform: uppercase;
    font-size:85%;
}
a.arrow-disabled
{
    padding-left:5px;
    /*background: transparent url(images/arrow.gif) center left no-repeat;*/
    text-transform: uppercase;
    color:gray;
    font-size:85%;
}
a:link
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
    border-bottom: 1px solid;
}
a:active
{
    text-decoration: underline;
    border-bottom: 1px solid #990000;
}

/* afbeeldingen */
img
{
    margin:3px;
    max-width:100%;
}
a img
{
    border:0;
}


/* Message boxes */
div.error
{
    font-family: verdana, sans-serif;
    color: #990000;
    margin: 3px;
    border-bottom: 1px dotted #999999;
    border-top: 1px dotted #999999;
    background: #fafbfd;
}

/*Pagina's met artikellijsten */
div.article_teaser
{
    margin: 2%;
    margin-left: 0;
    min-height: 5em;
}
div.article_teaser:hover
{
    background: #f7f7f7;
}
p.meta
{
    color: #bbb;
    font-style: italic;
}
div.article_teaser img
{
    max-width: 130px;
    float: left;
    margin: 5px;
}
div.article_teaser p.article_teaser_links
{
    clear: both;
}

/* Linklijsten */
ul.linklist
{
    margin:0;
    padding:0;
    list-style-type:none;
}
ul.linklist li
{
    border-bottom: 1px dotted #999999;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    margin-right: 8px;
    font-family: verdana, sans-serif;
}
ul.linklist li img
{
    max-width: 32px;
    max-height: 24px;
    padding: 0;
    margin: 0;
}
ul.linklist li div.linklist_icon_image
{
    display: block;
    float: left;
    min-width: 32px;
    margin: -5px 0 0 0;
    padding: 0;
}

/* Comments */
article.comment {
    min-height: 7em;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
article.comment p.comment_body {
    background: #f3fdf6;
    border: 1px solid #e4f2e9;
    border-radius: 3px;
    padding: 6px;
    margin-left: 0;
}
article.comment header {
    min-height: 40px;
}
article.comment header img {
    float: left;
    margin: 0 3px 0 0;
}
article.comment .comment_title {
    margin: 0;
    padding: 0;
}
article.comment .comment_author_rank {
    font-style: italic;
    font-weight: normal;
}
article.comment .comment_actions {
    float:right;
}
article.comment .comment_date {
    color: #666;
    font-size: 90%;
}

/* Pages with an extra sidebar on the left */
div#sidebar_page_content
{	/*gebruikt bij de artikelpagina*/
    float:left;
    border-left: 1px #bbbbbb dotted;
    padding-left: 1%;
    width:69%;
    margin-left:0;
    margin-right:0;
}
p.intro
{
    font-weight: bold;
    font-style: italic;
}
div#sidebar_page_sidebar
{
    float:left;
    width:27%;
    padding-right:2px;
}
div#sidebar_page_sidebar img
{
    max-width: 100%;
    margin:1px;
}
/* Other */
p.lijn
{
    border-top: 1px #999999 dotted;
    border-bottom: 1px #999999 dotted;
    padding-top: 5px;
    padding-bottom: 5px;
}
span.required
{
    color: #990000;
    font-size:110%;
}
span.eventdate
{
    color:#fff;
    display:block;
    background-color:#6b966b;
    font-weight:bold;
    text-decoration:none;
}
td.highlight:hover
{
    background:#e4f2e9;
    cursor:pointer;
}
h3.notable
{
    color:#9d8a0a;
    font-size: 110%;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 10px; /* As this header is a little larger, it needs more margin */
}
ul.no_bullets
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.no_bullets li
{
    margin: 0.2em 0 0 1em;
}
/* tooltip */
#tooltip
{
    border:solid 1px white;
    background: #e4f2e9;
    background: rgba(228,242,233,0.8);
    min-width:100px; 
    padding:1px;
    position:absolute; 
    z-index:100;	
    font-family: verdana, sans-serif;
    box-shadow: white 0 0 20px;
}

/* BOXMODEL */
/* inlogscherm */
#login
{
    background:#e4f2e9;
    width: 50%;
    margin: 100px auto auto auto;
    padding: 25px;
    box-shadow: white 0 0 20px;
}
/* body en container */
body
{
    background: #416f4a url(images/achtergrond.jpg) top center no-repeat;
    height: 100%;
}
div#container
{
    margin: 22px auto;
    padding:0;
    width: 950px;
    background:white;
}
@media all and (max-width : 1000px) {
    div#container 
    {
        /* Placed in a media query so that webpage isn't responsive on old IE versions */
        max-width: 950px;
        width: 100%;
    }
}

/* Header */
div#header
{
    background: #e4f2e9 url(images/logo.png) 15px center no-repeat;
    height: 100px;
    position: relative;
}
div#header h1
{
    color:#6b966b;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size:485%;
    margin:0;
    padding:23px 0 0 180px;
    font-weight:normal;
    text-align:left;
    height:1.2em;/*zit menu nooit in de weg, ook niet met grote tekengrootte*/
}
@media all and (max-width : 800px) {
    /* Smaller screens */
    div#header h1
    {
        font-size: 400%;
    }
}
@media all and (max-width : 670px) {
    /* Even smaller screens */
    div#header h1
    {
        font-size: 300%;
        padding-top: 30px;
    }
}
@media all and (max-width : 600px) {
    /* Mobile, place logo in center,  move title below logo */
    div#header
    {
        background: #e4f2e9 url(images/logo.png) center 30px no-repeat;
        height: 150px;
    }
    div#header h1
    {
        font-size: 170%;
        text-align: center;
        padding: 0;
        position: absolute;
        bottom: 3px;
        left: 3px;
        right: 3px;
    }
}

/* Search */
div#search
{
    position: absolute;
    top: 0;
    right: 0;
}
/* Search textfield */
div#header div#search #searchbox
{
    height:1.4em;
    width:11em;
    margin:0;
    padding:0em;
}

/* Accountbox */
div#account_label
{
    position: absolute;
    right: 0;
    top: 100%;
    font-size: 85%;
    text-align: right;

}
div#account_label p, a.user_welcome_link
{
    color: white;
    border: 0;
}
div#account_box
{
    background: #e4f2e9;
    text-align: left;
    margin-top: -7px;
    display: none;
    box-shadow: 0 0 13px #9a9a79;
}
div#account_label:hover div#account_box
{
    display: block;
}
div#account_box img
{
    float: left;
    margin: 8px;
}
div#account_box ul
{
    float: left;
    list-style-type: none;
    margin: 8px;
    padding: 0;
}
div#account_box a
{
    padding-left: 5px;
    color: #6b966b;
    background: transparent url(images/arrow.gif) center left no-repeat;
    text-transform: uppercase;
}
/* content 	*/
div#content
{
    width:39%;
    clear:left;
    float:left;
    min-height:600px;
    overflow:hidden;
}
div#contentwide
{
    background: white;
    width:95%;
    padding-right:5%;
    clear:left;
    float:left;
    min-height:600px;
    overflow:hidden;
}
div#contentadmin
{
    background: #e4f2e9;
    width:95%;
    padding-right:5%;
    clear:left;
    float:left;
    min-height:600px;
}

/* Sidebars on home page */
div#sidebar
{
    width: 30%;
    height: max-content;
    float: left;
    height: 100%;
    border-left: 1px dotted #999999;
}
div#nav
{
    width: 30%;
    float: left;
    border-left: 1px dotted #999999;
}
@media all and (max-width : 800px) {
    /* Small screen, place one sidebar below */
    div#content {
        width: 59%;
    }
    div#sidebar {
        width: 40%;
    }
    div#nav {
        float: none;
        clear: both;
        width: 100%;
        border-left: none;
        border-top: 1px dotted #999999;
    }
}
@media all and (max-width : 600px) {
    /* Mobile, place all sidebars below */
    div#content, div#sidebar, div#nav {
        float: none;
        width: 100%;
        border: none;
    }
}

/* Horizontal link bar on top of page */
div#hornav
{
    background: #9a9a79;
    min-height: 19px;
    padding-left: 10px;
    overflow: auto;
}
div#hornav ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div#hornav ul li
{
    float: left;
    background: transparent;
    border-right: 1px dotted white;
    color: white;
}
div#hornav ul li a
{
    color: #fff;
    text-decoration:none;
    padding: 2px 5px 2px 5px;
    font-family: verdana, sans-serif;
    font-size: 85%;
    display: block;
    margin-bottom: 2px;
}
div#hornav ul li a:hover
{
    background: transparent;
    color: #303030;
    text-decoration: none;
    border: 0;
}
@media all and (max-width : 600px) {
    /* Mobile, switch to vertical menu */
    div#hornav
    {
        padding: 0;
    }
    div#hornav ul
    {
        width: 100%;
        margin-top: 2em;
    }
    div#hornav ul li
    {
        float: none;
        border-right: none;
        border-top: 1px dotted white;
    }
}
/* Login link of horizontal bar */
div#hornav ul#accountlinks
{
    float: right;
}
div#hornav ul#accountlinks li
{
    border-style: none none none dotted;
    border-width: 0 0 0 1px;
    border-color: white;
}

/* footer */
div#footer
{
    clear:both;
    background: #9a9a79;
    color: white;
    padding:2px 0 0 0;
    min-height:19px;
    text-align: right;
    font-family: verdana, sans-serif;
    padding-right:5px;
}
