/* HTML5 FIXES FOR IE8 */
header, article, footer {
    display: block;
}
* {
    box-sizing: border-box;
}

/*
 * Fonts, colors and margins of common elements
 */
p, h1, h2, h3, h4, li {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #595959;
    margin: 0 0 10px 0;
    padding: 0;
}
h2 {
    font-size: 150%;
    margin: 0.47em 0 10px 0; /* 0.47em = 0.7em / 150% */
}
h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0.64em 0 1px 0; /* 0.64em = 0.7em / 110% */
    font-size: 110%;
}
p, li {
    line-height: 1.5;
}
li {
    margin-bottom: 0;
}

/*
 * Main page structure
 */

/* Login screen */
#login {
    background:#e4f2e9;
    width: 50%;
    margin: 100px auto auto auto;
    padding: 25px;
    box-shadow: white 0 0 20px;
}
/* body and container */
body {
    background: #416f4a url(images/achtergrond.jpg) top center no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    padding: 0;
}
@media all and (max-width : 1150px) {
    /* Don't display background images on screens where container occupies the
       whole screen. */
    body {
        background: #e4f2e9;
    }
}
div#container {
    margin: 2.22em auto;
    padding: 0;
    width: 100%;
    max-width: 1150px;
    background:white;
}
@media all and (max-width : 1150px) {
    /* Smaller margins on small screens */
    div#container {
        margin: 0.3em auto 0 auto;
    }
}
/* Header */
div#header {
    background: #e4f2e9 url(images/logo.png) 15px center no-repeat;
    height: 100px;
    position: relative;
}
div#header h1 {
    color:#6b966b;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 392%;
    margin:0;
    padding:23px 0 0 180px;
    font-weight:normal;
    text-align:left;
    height:1.2em;/*zit menu nooit in de weg, ook niet met grote tekengrootte*/
}
@media all and (max-width : 52em) {
    /* Smaller screens */
    div#header h1
    {
        font-size: 324%;
    }
}
@media all and (max-width : 46em) {
    /* Even smaller screens */
    div#header h1
    {
        font-size: 243%;
        padding-top: 30px;
    }
}
@media all and (max-width : 38em) {
    /* Mobile, place logo in center,  move title below logo */
    div#header
    {
        background: #e4f2e9 url(images/logo.png) center 30px no-repeat;
        height: 150px;
    }
    div#header h1
    {
        font-size: 138%;
        text-align: center;
        padding: 0;
        position: absolute;
        bottom: 3px;
        left: 3px;
        right: 3px;
    }
}

/* Search */
div#search {
    position: absolute;
    top: 0;
    right: 0;
}
/* Search textfield */
div#header div#search #searchbox {
    height:1.4em;
    width:11em;
    margin:0;
    padding:0em;
}

/* Accountbox */
div#account_label {
    position: absolute;
    right: 0;
    top: 100%;
    font-family: verdana, sans-serif;
    font-size: 85%;
    text-align: right;
    padding: 0.7em;
}
a.user_welcome_link {
    color: white;
    border: 0;
}
div#account_box {
    background: #e4f2e9;
    text-align: left;
    margin-top: 0.7em;
    display: none;
    box-shadow: 0 0 13px #9a9a79;
}
div#account_label:hover div#account_box {
    display: block;
}
div#account_box img {
    float: left;
    margin: 8px;
}
div#account_box ul {
    float: left;
    list-style-type: none;
    margin: 8px;
    padding: 0;
}
div#account_box a {
    padding-left: 5px;
}
/* content 	*/
div#content {
    width: 50%;
    padding: 0.7em;
    clear:left;
    float:left;
    min-height:600px;
    overflow:hidden;
}
div#contentwide {
    width: 100%;
    padding: 0.7em;
    background: white;
    clear:left;
    float:left;
    min-height:600px;
    overflow:hidden;
}
div#contentadmin {
    width: 100%;
    background: #e4f2e9;
    padding: 0.7em;
    clear:left;
    float:left;
    min-height:600px;
}

/* Sidebars on home page */
div#sidebar {
    width: 25%;
    padding: 0.7em;
    height: max-content;
    float: left;
    height: 100%;
}
div#nav {
    width: 25%;
    padding: 0.7em;
    float: left;
}
@media all and (max-width : 52em) {
    /* Small screen, place one menu sidebar below */
    div#content {
        width: 59%;
    }
    div#sidebar {
        width: 40%;
    }
    div#nav {
        float: none;
        clear: both;
        width: 100%;
        padding: 0.7em;
    }
}
@media all and (max-width : 38em) {
    /* Mobile, place all sidebars below */
    div#content, div#sidebar, div#nav {
        float: none;
        width: 100%;
        padding: 0.7em;
    }
}

/* Horizontal link bar on top of page */
div#hornav {
    background: #9a9a79;
    overflow: auto;
    padding: 0 0.7em;
}
div#hornav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
div#hornav ul li {
    margin: 0;
    padding: 0;
    float: left;
    background: transparent;
}
div#hornav ul li a {
    color: #fff;
    text-decoration:none;
    margin: 0;
    padding: 0.7em 0.7em;
    font-family: verdana, sans-serif;
    font-size: 85%;
    display: block;
}
div#hornav ul li a:hover {
    color: #303030;
    text-decoration: none;
    border: none;
}
@media all and (max-width : 38em) {
    /* Mobile, switch to vertical menu */
    div#hornav
    {
        padding: 0;
    }
    div#hornav ul
    {
        width: 100%;
        margin-top: 2em;
    }
    div#hornav ul li
    {
        float: none;
        border-right: none;
        border-top: 1px dotted white;
    }
}
/* Login link of horizontal bar */
div#hornav ul#accountlinks {
    float: right;
}

/* footer */
div#footer {
    clear:both;
    background: #9a9a79;
    color: white;
    padding: 0.7em;
    min-height: 2.2em;
    text-align: right;
    font-family: verdana, sans-serif;
}

/*
 * Smaller elements on the page
 */

/* Tables */
table {
    border-collapse:collapse;
}
th, td {
    background: #d6d6c3;
    font-family: verdana, sans-serif;
    text-align: left;
    padding: 2px;
}
th {
    color: white;
    background:#9a9a79;
}
table.layout {
    background:transparent;
    width:98%;
}
table.layout th,table.layout td {
    background: transparent;
    border: none;
    padding:5px;
}
div#contentadmin th,div#contentadmin td {
    border-color: #e9e9e9;
}

/* Forms */
input, textarea, div.cke_editable {
    font-family: verdana, sans-serif;
    color: #4a7180;
    background:#fafafa;
    border:1px solid #9a9a79;
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px #ddd;
    padding:3px;
    margin:2px;
}
input:focus, textarea:focus, select:focus, div.cke_focus {
    background:#efefef;
}
fieldset {
    border: none;
    border-bottom: 2px solid #9a9a79;
    margin-top: 10px;
    margin-bottom: 10px;
}
fieldset:last-of-type {
    border-bottom: none;
}
legend {
    font-family: verdana,sans-serif;
    font-weight:bold;
}
.button,button /*ook geschikt voor links*/ {
    background: #ccc; 
    border:0;
    padding: 5px;
    margin: 3px;
    border-radius: 4px;
    box-shadow: none;
    text-decoration:none;
    font-family: verdana, sans-serif;
    font-size: 81%;
    line-height: normal;
    color:black;
    border:0;
    cursor:pointer;
    display: inline-block;
    min-width: 5em;
    text-align: center;
}
.button:hover, button:hover {
    background: #ddd; 
    border:0;
}
.button:focus,button:focus {
    background: #ddd; /*geen andere achtergrond */
}
.primary_button {
    background: #9a9a79;
    color: white;
}
.primary_button:hover {
    background: #b4b488;
}
.checkbox {
    background:white;
    padding:0;
    border:0;
    border-radius:0;
    box-shadow:none;
}
input.full_width, textarea.full_width {
    width: 98%;
}
div.cke_editable {
    min-height: 10em;
    /* Makes sure that editor buttons don't hide rest of form */
    margin-bottom: 70px;
}

/* Links */
a {
    color:#6b966b;
    text-decoration: none;
}
a.arrow {
    padding-left: 5px;
    padding-right: 5px;
    background: transparent url(images/arrow.gif) center left no-repeat;
    text-transform: uppercase;
    font-family: verdana, sans-serif;
    font-size: 81%;
}
a.arrow-disabled {
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    color:gray;
    font-family: verdana, sans-serif;
    font-size: 81%;
}
a.disguised_link {
    color: inherit;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    /*border-bottom: 1px solid; */
}
a.disguised_link:hover {
    border-bottom: none;
}
a:active {
    text-decoration: underline;
    border-bottom: 1px solid #990000;
}

/* Images */
img {
    display: block;
    margin: 0.7em auto;
    max-width: 100%;
    height: 100% !important; /* override CKEditor-added inline styles */
}
a img {
    border:0;
}


/* Message boxes */
div.error, div.confirmation {
    font-family: verdana, sans-serif;
    color: #990000;
    margin: 3px;
    border-bottom: 1px dotted #999999;
    border-top: 1px dotted #999999;
}

/*Pagina's met artikellijsten */
div.article_teaser {
    min-height: 5em;
    margin: 0 0 0.7em 0;
}
p.meta {
    color: #bbb;
    font-style: italic;
    font-family: verdana, sans-serif;
    font-size: 81%;
}
div.article_teaser img {
    width: 130px;
    max-width: 40%;
    float: left;
    margin: 0.3em 0.7em 0.7em 1px;
}
div.article_teaser p.article_teaser_links {
    clear: both;
}

/* Linklijsten */
ul.linklist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.linklist li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    font-family: verdana, sans-serif;
}
ul.linklist li img {
    max-width: 32px;
    max-height: 24px;
    padding: 0;
    margin: 0;
}
ul.linklist li div.linklist_icon_image {
    display: block;
    float: left;
    min-width: 32px;
    margin: -5px 0 0 0;
    padding: 0;
}

/* Calendar */
div.calender_month_wrapper {
    height: 14em;
    margin: 1%;
}
td.calendar_other_month {
    color: #888;
}
td.calendar_active_date {
    color: #fff;
    background-color: #6b966b;
    font-weight: bold;
}
/* On higher resulotions, multiple calendars can be placed next to each other */
@media all and (min-width : 38em) {
    div.calender_month_wrapper
    {
        float: left;
        width: 45%;
    }
}
@media all and (min-width : 46em) {
    div.calender_month_wrapper
    {
        float: left;
        width: 30%;
    }
}

/* Comments */
article.comment {
    min-height: 7em;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
article.comment p.comment_body {
    background: #f3fdf6;
    border: 1px solid #e4f2e9;
    border-radius: 3px;
    padding: 6px;
    margin-left: 0;
}
article.comment header {
    min-height: 40px;
}
article.comment header img {
    float: left;
    margin: 0 3px 0 0;
}
article.comment .comment_title {
    margin: 0;
    padding: 0;
}
article.comment .comment_author_rank {
    font-style: italic;
    font-weight: normal;
}
article.comment .comment_actions {
    float:right;
}
article.comment .comment_date {
    color: #666;
    font-size: 90%;
}

/* Quotes */
blockquote {
    background: #eee;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin: 5px 5px 5px 25px;
}

/* Pages with an extra sidebar on the left */
div#sidebar_page_content {
    float:left;
    padding-left: 1%;
    width: 58%;
    margin-left:0;
    margin-right:0;
}
div#sidebar_page_sidebar {
    float:left;
    width: 21%;
    padding-right:2px;
}
div#sidebar_page_sidebar img {
    width: 100%; /* Define standard width, Firefox needs this */
    max-width: 100%;
    margin:1px;
}
@media all and (max-width : 66em) {
    /* Different size for sidebars */
    div#sidebar_page_content {
        width: 70%;
    }
    div#sidebar_page_sidebar {
        width: 30%;
    }
}

@media all and (max-width : 38em) {
    /* Don't use sidebars on small resolutions */
    div#sidebar_page_sidebar, div#sidebar_page_content
    {
        float: none;
        width: auto;
    }
}

/* Other */
p.intro {
    font-weight: bold;
    font-style: italic;
}
#sidebar_page_content p, #content p {
    text-align: justify;
}
p.result_selector_menu {
    border-top: 1px #999999 dotted;
    border-bottom: 1px #999999 dotted;
    padding-top: 5px;
    padding-bottom: 5px;
}
span.required {
    color: #990000;
    font-size: 110%;
}
h3.notable {
    color: #9d8a0a;
}
ul.no_bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.no_bullets li {
    margin: 0.2em 0 0 1em;
}
/* Tooltips */
#tooltip {
    border: solid 1px #6b966b;
    background: #e4f2e9; /* IE8 */
    background: rgba(228, 242, 233, 0.8);
    min-width: 100px; 
    padding: 1px;
    position: absolute; 
    z-index: 100;	
    font-family: verdana, sans-serif;
    box-shadow: #6b966b 0 0 20px;
}
#tooltip ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#tooltip li {
    margin: 5px;
}
.tooltip_contents {
    /* Used to store tooltip contents on a page */
    display: none;
}