/* HTML5 fixes for IE8 */
header, article, footer {
    display: block;
}

/*
 * Fonts, colors and margins of common elements
 */
body
{
    font-size: 85%;
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, ul
{
    font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
    color: #454545;
}
p, h1, h2, h3, h4
{
    margin: 1px 3px 10px 3px;
    padding: 1px;
}
h2
{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 164%;
    font-weight: normal;
    margin: 23px 3px 10px 3px;
}
h3
{
    font-size: 100%;
    font-weight: bold;
    margin: 12px 3px 2px 3px;
}
div
{
    margin: 0;
    padding: 0;
}

/*
 * Large boxes that make up the page
 */

/* Body en container */
body
{
    background: #a0a0a0;
}
div#container
{
    margin: 22px auto;
    padding: 0;
    width: 80%;
    min-width: 68em;
    background: white;
    box-shadow: 0px 0px 35px #262626;
}
@media all and (max-width : 59em)
{
    body
    {
        background: white;
    }
    div#container
    {
        margin: 0;
        box-shadow: none;
        width: 100%;
        min-width: 1px;
    }
}

/* Header */
div#header
{
    background: #f4f4f4;
    position: relative;
}
@media all and (max-width : 59em)
{
    div#header
    {
        /*
         * Gives search box more room,
         * as well as correcting for the top margin at the container that
         * is gone at smaller devices.
         */
        padding-top: 22px;
        overflow: auto;
    }
}

/* Main content area */
div#content
{
    width: 58%;
    margin-right: 9%;
    margin-left: 2%;
    clear: left;
    float: left;
    position: relative;
    overflow: hidden;
}
div#contentadmin
{
    width: 93%;
    padding-right: 5%;
    padding-left: 2%;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    background: #f4f4f4;
}


/* Sidebar on the right of the page */
div#sidebar
{
    width: 30%;
    float: left;
}
@media all and (max-width : 50em)
{
    /* No sidebar at lower resolutions */
    div#content
    {
        float: none;
        width: auto;
    }
    div#sidebar
    {
        width: auto;
        float: none;
        /* The border makes it more clear that the content is not of the page */
        margin-top: 30px;
        border-top: 30px solid #f4f4f4;
    }
}

/* Pages with an extra sidebar on the left */
div#sidebar_page_content
{	/*gebruikt bij de artikelpagina*/
    float:left;
    padding-left: 1%;
    width:69%;
    margin-left:0;
    margin-right:0;
}
div#sidebar_page_sidebar
{
    float: left;
    width: 27%;
    padding-right: 2px;
}
div#sidebar_page_sidebar img
{
    max-width: 100%;
    margin: 1px;
}

@media all and (max-width: 40em)
{
    /* No sidebar on smaller screens */
    div#sidebar_page_content, div#sidebar_page_sidebar
    {
        width: auto;
        float: none;
    }
    div#sidebar_page_sidebar img
    {
        max-width: 15em;
        float: right;
    }
}
@media all and (max-width: 30em)
{
    div#sidebar_page_sidebar img
    {
        width: 100%;
        max-width: 15em;
        float: none;
    }
}

/* Page footer */
div#footer
{
    clear: both;
    padding: 2px 0 0 0;
    min-height: 30px;
    text-align: right;
    font-family: verdana, sans-serif;
    padding-right: 5px;
    background: #f4f4f4;
}

/*
 * Smaller things
 */

/* Tables */
table
{
    border-collapse:separate;
    margin-top: 10px;
    margin-bottom: 10px;
}
th,td
{
    font-family: verdana, sans-serif;
    text-align:left;
}
th
{
    font-weight: bold;
}
table.layout
{
    width:98%;
    border:0;
}
table.layout th,table.layout td
{
    padding:5px;
}

/* Forms */
input, textarea
{
    font-family: verdana, sans-serif;
    color: #4a7180;
    background:#fafafa;
    border:1px solid #c9c9c9;
    padding:3px;
    margin:2px;
}
input:focus,textarea:focus,select:focus
{
    background:#efefef;
}
fieldset
{
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 3px;
}
fieldset:last-of-type
{
    border-bottom: none;
}
legend
{
    font-family: verdana,sans-serif;
    font-weight: bold;
    margin-top: 10px;
}
.button, button
{
    display: inline-block;
    background-color: #ddd;
    background-image: linear-gradient(#f0f0f0, #dedede);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: black;
    padding: 4px;
    margin: 2px;
    cursor: pointer;
    text-align: center;
    min-width: 120px;
    font-size: 100%;
    font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
}
.button:hover, button:hover
{
    background-color: #e9e9e9;
    background-image: linear-gradient(#f9f9f9, #dfdfdf);
    color: black; /* For links dressed up as buttons */
}
.button:focus,button:focus
{
    background:#eee; /* Resets background */
}
.primary_button
{
    background-color: #61faff;
    background-image: linear-gradient(#b6fdff, #42e5eb);
    border: 1px solid #42e5eb;
}
.primary_button:hover
{
    background-color: #a7fcff;
    background-image: linear-gradient(#D4FCFE, #6FF6FA);
}
input.checkbox
{
    background:white;
    padding:0;
    border:0;
    border-radius:0;
    box-shadow:none;
}
input.full_width, textarea.full_width
{
    width: 98%;
}

/* Links */
a
{
    text-decoration: none;
    color: #00ccff;
}
a:link
{
    text-decoration: none;
}
a:hover
{
    text-decoration: none;
    color: #5252ff;
}
a:active
{
    text-decoration: none;
}
a.disguised_link
{
    color: inherit;
}
a.arrow
{
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 85%;
}
a.arrow-disabled
{
    margin-left: 10px;
    text-transform: uppercase;
    color:gray;
    font-size:85%;
}

/* Images */
img
{
    margin:3px;
    max-width:100%;
}
a img
{
    border:0;
}


/* Errors */
div.error
{
    color: #6c0000;
    margin: 3px 3px 10px 3px;
    padding: 5px;
    background-color: #ffd0d9;
    font-family: "Segoe UI", Tahoma, Helvetica, sans-serif;
}
div.error h3
{
    margin: 0;
}

/* Lists of articles */
div.article_teaser
{
    margin:10px;
    margin-left: 0;
    min-height: 8em;
}
p.meta
{
    color: #bbb;
    font-style: italic;
}
div.article_teaser img
{
    max-height: 250px;
    width: 20%;
    max-width: 140px;
    min-width: 60px;
    float: left;
}

/* Lists of links */
ul.linklist
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.linklist li
{
    padding:5px;
    font-family: verdana, sans-serif;
}
ul.linklist li img
{
    max-width: 32px;
    max-height: 24px;
    padding: 0;
    margin: 0;
}
ul.linklist li div.linklist_icon_image
{
    display: block;
    float: left;
    min-width: 32px;
    margin: -5px 0 0 0;
    padding: 0;
}

/* Comments */
article.comment {
    min-height: 7em;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
article.comment p.comment_body {
    background: #f9f9f9;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 6px;
    margin-left: 0;
}
article.comment header {
    min-height: 40px;
}
article.comment header img {
    float: left;
    margin: 0 3px 0 0;
}
article.comment .comment_title {
    font-weight: normal;
    margin: 0;
    padding: 0;
}
article.comment .comment_author_rank {
    font-style: italic;
}
article.comment .comment_actions {
    float:right;
}
article.comment .comment_date {
    color: #666;
    font-size: 90%;
}

/* Some random classes */
p.lijn
{
    border-top: 1px #c9c9c9 solid;
    border-bottom: 1px #c9c9c9 solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
span.required
{
    color: #990000;
    font-size:110%;
}
span.eventdate
{
    color:#0000ff;
    font-weight:bold;
    text-decoration:underline;
}
td.highlight:hover
{
    background:#eeeeee;
    cursor:pointer;
}
h3.notable
{
    font-size: 200%;
    font-family: "Segoe UI Light", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#tooltip
{
    border:solid 1px white;
    background: #eeeeee;
    background: rgba(228,242,233,0.8);
    min-width:100px;
    padding:1px;
    position:absolute;
    z-index:100;
    font-family: verdana, sans-serif;
    box-shadow: white 0 0 20px;
}
span.username{
    color: #666;
    font-size: 90%;
}
p.intro
{
    font-style: italic;
}

/* Site login screen */
#login
{
    background:#eeeeee;
    width: 50%;
    margin: 100px auto auto auto;
    padding:25px;
    box-shadow: white 0 0 20px;
}

/* Header menu */
div#header h1
{
    margin: 0;
    padding: 0;
    padding-top: 40px;
    font-family: "Segoe UI Light", "Segoe UI", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: normal;
    color: #494949;
}
ul#main_menu
{
    margin: 0;
    padding-right: 0;
    padding-left: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 40px;
    height: 2.5em;
    list-style-type: none;
}
ul#main_menu li
{
    margin: 0;
    padding: 0;
    float: left;
    height: 100%;
    color: gray;
    width: 8em;
    display: block;
}
ul#main_menu li a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    color: #494949;
    border: 0;
}
ul#main_menu li a:hover
{
    text-decoration: none;
    color: #999;
}
/* Account box and label (inside header box) */
div#account_label
{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background: white;
    box-shadow: 0 0 5px #aaa;
}
div#account_box
{
    display: none;
    text-align: left;
    min-height: 6em;
    min-width: 18em;
}
body.logged_in div#account_label:hover div#account_box
{
    display: block;
}
div#account_box img
{
    float: left;
    width: 5em;
    margin: 1.1em;
}
div#account_box ul
{
    padding: 1.1em;
    margin-left: 10px;
    list-style-type: none;
    text-transform: uppercase;
}
/* Search box */
div#search
{
    position: absolute;
    right: 0;
    top: 3em;
}
input#searchbutton
{
    min-width: 80px;
    padding: 2px;
}
